@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  box-sizing: border-box;
  background-image: linear-gradient(
    150deg,
    #b4c0ff 0%,
    #e6abe2 22%,
    #ffe5b6 49%,
    #bafaba 75%,
    #adbdff 100%
  );
  // background-image: linear-gradient(
  //   150deg,
  //   #0fa3b1 0%,
  //   #94d2bd 22%,
  //   #ffcaad 49%,
  //   #ffc8c7 75%,
  //   #d4e09b 100%
  // );
  // background-image: linear-gradient(
  //   150deg,
  //   #4059ad 0%,
  //   #6b9ac4 22%,
  //   #97d8c4 49%,
  //   #eff2f1 75%,
  //   #f4b942 100%
  // );
}

* {
  box-sizing: border-box;
}

.background-pattern {
  position: fixed; /* Use fixed positioning */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Place it behind other content */
  overflow: hidden; /* Hide overflow */
  background-color: #d8e2dc;
}

.shape {
  position: absolute;
  opacity: 0.7; /* Add some transparency */
}

.main {
  background-color: transparent;
  section {
    #home {
      .typewriter__container {
        display: inline-block;
        .typewriter {
          display: flex;
          justify-content: left;
          overflow: hidden; /* Hide text overflow */
          border-right: #84a98c solid 0.15em;
          white-space: nowrap; /* Keep text on one line */
          margin: 20px auto;
          letter-spacing: 0.1em;
          line-height: 1em;
          display: inline-block;
          animation: typing 1s steps(25, end) forwards;

          &.two {
            width: 0;
            animation: typing 1s steps(25, end) forwards;
            animation-delay: 2s;
          }

          &.three {
            width: 0;
            animation: typing 1s steps(25, end) forwards;
            animation-delay: 4s;
          }
        }
      }
    }
  }
}

nav {
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  right: 0;
  top: 10px;
  // transform: translateX(-50%);

  ul {
    display: flex;
    justify-content: right;
    list-style: none;

    li {
      padding: 10px 20px;
      list-style: none;
      a {
        text-decoration: none;
      }
      &.active {
        font-weight: 600;
      }
    }
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
